.container{
	border-radius: 0;
	border: solid black 2px;
	margin: 0;
	padding: 0;
}

.brand{
	font-size: 18pt;
	font-weight: bold;
	color: black;
	margin-left: 20px;
}

#button-id{
	margin-right: 5px;
}

#nav-items{
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	font-weight: bold;
	background: grey;
	width: 100%;
}

.menu-header{
	text-align: center;
	font-weight: bold;
}

.content-header{
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	padding-bottom: 5px;
}

hr{
	margin: 5px 0;
	height: 0px;
	width: 100%;
	border: solid black 1px;
}

.content-container{
	border: solid black 2px;
	margin: 5px 15px;
	padding: 0 15px;
}

@media (min-width: 768px){
	.container{
		width: 100%;
	}
	.content-container{
		height: 1000px;
	}
}

@media (max-width: 767px){
	.content-container{
		margin: 5px 70px;
	}

}